<div class="employer-item" >

    <a href="javascript:void(0)" style="text-decoration:none">
        <div class="avatar">
        <img  src="{{getImagePath(imageName)}}"  alt="Employer" (click)="showProfile()" class="rounded-circle" >
    </div>
        <h3 (click)="showProfile()">{{fname}} {{lname}}</h3>
        <ul (click)="showProfile()">
            <li><i></i>{{jobTitle}}</li>
            <!-- <li>5 months ago</li> -->
        </ul>
        <p (click)="showProfile()">{{biography |lenghtStringFormat}}</p>
        <ul>
            <a href="javascript:void(0)"><li class="span-two" style="margin-top: 20px; padding:10px; font-size:15px;" (click)="hireMe()">hire me</li>
            </a>
        </ul>
        
    </a>
</div>