<div class="employer-item" >

    <a>
        <img src="assets/img/home-one/job1.png" alt="Employer" (click)="showProfile()">

   

        <h3 (click)="showProfile()">{{fname}} {{lname}}</h3>
        <ul (click)="showProfile()">
            <li><i class="flaticon-send"></i>{{jobTitle}}</li>
            <!-- <li>5 months ago</li> -->
        </ul>
        <p (click)="showProfile()">{{biography |lenghtStringFormat}}</p>
        <ul>
            <li class="span-two" style="margin-top: 20px; padding:10px; font-size:15px;" (click)="hireMe()">hire me</li>
        </ul>
        
    </a>
</div>