<div class="blog-item">
  <div class="top">
      <!-- <a routerLink="/blog-details"><img src="assets/img/home-one/blog1.jpg" alt="Blog"></a> -->
      <img style=" width: 100% !important;height:220px !important;margin-top: 20px !important;"
      src="{{getImagePath(img)}}">
  </div>
  <span>{{title}}</span>
  <h3><a routerLink="/blog-details">{{descriptions}} </a></h3>
  <h6 class="card-category">{{homeServiceService.displayBlog_image}}</h6>
  <!-- <h3 (click)="  showProfile()">
{{id}}
  </h3> -->
  <!-- <div class="cmn-link">
      <a routerLink="/blog-details"><i class="flaticon-right-arrow one"></i> Learn More <i class="flaticon-right-arrow two"></i></a>
  </div> -->
</div>


