
    <div  style="background-color:#202940 ;" class="card card-profile">
        <div class="card-avatar">
          <div>
                <!-- <img class="img" src="../assets/img/faces/marc.jpg" /> -->
                <img class="img"   src="{{getImagePath(imageName)}}">

</div>


               
        </div>
        <div class="card-body">
            <h6 class="card-category">{{adminDashboardService.display_image1}}</h6>
            <h4 class="card-title">{{fname}}  </h4>
            <p class="card-description">
              PhoneNumber: {{phoneNumber}} 
            </p>
            <p class="card-description">
              Bography:  {{biography}}  
            </p>
            <p class="card-description">
              Country: {{country}}   
            </p>
            <p class="card-description">
              Email: {{email}}  
            </p>
            <p class="card-description">
              Skill: {{skill}}  
            </p>
            
            
            <p class="card-description">
               
            </p>
            <div class="row" style="margin-bottom:15px;">
              <div class="col-md-3">
                <input type="file" #file placeholder="Choose Image" 
                (change)="uploadFile(file.files,9)" 
                style="display:none;">
                <button style="  background: -webkit-linear-gradient(left, #3B064D, #BC6FF1);
                " type="button" class="btn btn-success" 
                (click)="file.click()">Upload Image</button>
              </div>
            </div>
        </div>
    </div>

    