
    <div   class="card card-profile">
        <div class="card-avatar">
          <div>
                <!-- <img class="img" src="../assets/img/faces/marc.jpg" /> -->
                <p><input type="file" [formControl]="fileControl"   accept="image/*" name="image" id="file" (change)="readURL($event);" style="display: none; " ></p>
                <p><label for="file" style="cursor: pointer;">
                    <img for="file" class="rounded-circle"  id="imgWork"  [src]="imageSrc || getImagePath(imageName)" alt="your image" />
                   
                </label></p> 

</div>


               
        </div>
        
        <div class="card-body">
            <h4 class="card-title">{{fname}}  </h4>
            <div class="row" style="margin:15px;">
              <div class="col-md-3">
                
                <button (click)="uploadFile()" type="submit" class="btn " style="  background-color: #673ab7;">Upload Image</button>
              </div>
            </div>
           
           
        </div> 
    </div>

    