
  .form-button {
    background-color:#673ab7;
    color: #ffffff;
    border: none;
    border-radius: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    
   
  }
  .rounded-circle {
    border-radius: 50% !important;
  }
  .form-button:hover,
  .form-button:focus,
  .form-button:active,
  .form-button.active,
  .form-button:active:focus,
  .form-button:active:hover,
  .form-button.active:hover,
  .form-button.active:focus {
    background-color:#3e236e ;
      
      border: none;
      border-radius: 1.5rem;
     
     
      font-weight: 600;
     
  }

  .widget-area1 .owner1 .top img {
    position: absolute;
    top: 25px;
    left: 30px;
    border-radius:50% !important;
    width: 70px;
    height: 70px;
    
}