	<!-- Top menu -->
    <!-- <head><link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css"></head> -->


    <nav style="background: rgba(0,0,0,0.6);" class="navbar  navbar-expand-lg navbar-inverse navbar-fixed-top navbar-no-bg" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="top-navbar-1">
                <a  style="background-image: url();" href=""> <img src="../../../assets/img/LogoWeMet.png"  style="width: 5%;height: 5;margin-right: 100px; background-color: none;float: left;border-radius:unset;margin-top: 1.4%;" alt=""></a>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a  href="#">
                            <i class="fa fa-home" style="font-size: 22px;margin-left: 12%;"></i> <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-wrench" style="font-size: 22px;margin-left: 19%;"></i> <span>Services</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-user" style="font-size: 22px;margin-left: 17%;" ></i> <span (click)="GoToAbout()"> About</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-magic" style="font-size: 22px;margin-left: 15%;"></i> <span>Mission</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-paper-plane" style="font-size: 22px;margin-left: 12%;"></i> <span>Contact</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

  