<app-navbar-page></app-navbar-page>




<!-- Page Title -->
<div  style="display: flex; background-color:rgba(0, 0, 0, 0.3);">
    <div style=" flex-basis: 45%;">
      <h1 style="color: #1f1137; padding-top: 40%;padding-left: 80px;">  About As </h1>
      <!-- <p style="color: white; text-align: center;font-size: 25px;">Put forward your project and leave the task of implementing it to the best experts</p> -->
    </div>
   
<div class="page-title-area "  style=" flex-basis: 70%;">
  <div class="d-table">
      <div class="d-table-cell">
          <div class="container">
              <div class="title-item">
                
              </div>
          </div>
      </div>
  </div>
</div>
</div>
<!-- End Page Title -->


<div id="about" class="section wb" style="padding: 7%;">
    <div class="container">
        <div  *ngFor ="let card of pagesService.aboutUs"  class="row" style="border: 1px solid;padding: 20px;" >
           
            <div class="col-md-6">
                <div class="message-box">
               
                    <h2 style="text-align: center;color: #5f459a">Welcome to WeMet Solutions</h2>
                    <p class="lead" style="text-align:start;">{{card.descriptions}}</p>
                    <p class="lead" style="text-align:start;">PhoneNumber: {{card.phone}}</p>

                   

                   
                </div><!-- end messagebox -->
            </div><!-- end col -->

            <div class="col-md-6">
                <div class="post-media wow fadeIn">
             <a> <img style=" width: 100% !important;height:140px !important;margin-top: 10px !important;"
        src="{{getImagePath(card.logo)}}"><i class="flaticon-play-button"></i></a>
                </div><!-- end media -->
            </div><!-- end col -->
        </div><!-- end row -->

    
    </div><!-- end container -->
</div><!-- end section -->

<!-- Feedback -->
<section class="feedback-area two pt-50"  style="padding: 6%; margin: 4%; ">
    <h1 style="text-align: center;color: #5f459a;padding-bottom: 2%;">Our Team</h1>
    <div class="container">
        <div class="row" >
            <div class="col-lg-6 col-md-12 " style="margin-bottom: 8px;box-shadow: 10px #fae8e8; -webkit-box-shadow: 0 10px 6px -6px #777; -moz-box-shadow: 0 10px 6px -6px #777;box-shadow: 0 10px 6px -6px #777;">
                <div class="feedback-item">
                    <h3>Bushra Assi</h3>
                    <span>Copmuter Information System </span>
                    <p>“I’m ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniaxn ullamco laboris nisi ut at voluptatem.</p>
                    <h4><i class="flaticon-left-quote"></i> </h4>
                    <img src="assets/img/home-one/feedback2.jpg" alt="Feedback">
                </div>
            </div>

            <div class="col-lg-6 col-md-12 " style="margin-bottom: 8px;box-shadow: 10px #fae8e8; -webkit-box-shadow: 0 10px 6px -6px #777; -moz-box-shadow: 0 10px 6px -6px #777;box-shadow: 0 10px 6px -6px #777;">
                <div class="feedback-item">
                    <h3>Ro'a Qarqz</h3>
                    <span>Software Engineering</span>
                    <p>“I’m ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniaxn ullamco laboris nisi ut at voluptatem.</p>
                    <h4><i class="flaticon-left-quote"></i> </h4>
                    <img src="assets/img/home-one/feedback2.jpg" alt="Feedback">
                </div>
            </div>

            <div class="col-lg-6 col-md-12"style="box-shadow: 5px #fae8e8; -webkit-box-shadow: 0 10px 6px -6px #777; -moz-box-shadow: 0 10px 6px -6px #777;box-shadow: 0 10px 6px -6px #777;">
                <div class="feedback-item">
                    <h3>Maha Amayreh</h3>
                    <span>Computer Science</span>
                    <p>“I’m ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniaxn ullamco laboris nisi ut at voluptatem.</p>
                    <h4><i class="flaticon-left-quote"></i> </h4>
                    <img src="assets/img/home-one/feedback3.jpg" alt="Feedback">
                </div>
            </div>

            <div class="col-lg-6 col-md-12" style="padding: 10px;box-shadow: 5px  #fae8e8;box-shadow: 5px #fae8e8; -webkit-box-shadow: 0 10px 6px -6px #777; -moz-box-shadow: 0 10px 6px -6px #777;box-shadow: 0 10px 6px -6px #777;">
                <div class="feedback-item">
                    <h3>Zain Malkawi</h3>
                    <span>Copmuter Information System </span>
                    <p>“I’m ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniaxn ullamco laboris nisi ut at voluptatem.</p>
                    <h4><i class="flaticon-left-quote"></i> </h4>
                    <img src="assets/img/home-one/feedback4.jpg" alt="Feedback">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Feedback -->


<app-footer-page></app-footer-page>