

    <div class="work-item two three">
        <i class="flaticon-accounting"></i>
        <img style=" width: 100% !important;height:220px !important;margin-top: 20px !important;"
        src="{{getImagePath(image)}}">
        <h6 class="card-category">{{homeServiceService.display_image}}</h6>
      
        <h3 (click)="showProfile()"  style="color: #000000;">{{categoryId}}</h3>
        <h3 (click)="showProfile()"  style="color: #000000;">{{categoryTitle}}</h3>
   

        
      
    </div>



