<!-- Navbar -->
<!-- <app-navbar></app-navbar> -->
<app-user-navbar></app-user-navbar>
<!-- End Navbar -->

<!-- Page Title -->
<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="title-item">
                    <h2>Jobs</h2>
                    <ul>
                        <li>
                            <img src="assets/img/home-three/title-img-two.png" alt="Image">
                            <!-- <a routerLink="/">Home</a> -->
                        </li>
                        <li><span>/</span></li>
                        <li>Jobs</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title -->

<!-- Jobs -->
<div class="job-area-list ptb-50" style="background-color: #f1f0f6" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <!-- <ul class="job-list-item align-items-center">
                   
                    <li>
                        
                        <mat-form-field appearance="outline">
                            <mat-label>Order By</mat-label>
                            <select matNativeControl [(ngModel)]="orderBy" (ngModelChange)="getOrderBy()" >
                              <option  value="Latest">Latest</option>
                              <option value="Oldest">Oldest</option>
                              <option  value="LeastViewed">Least viewed</option>
                              <option value="MostViewed">Most viewed</option>
                            </select>
                          </mat-form-field>
                    </li>
                    <li></li>
                </ul> -->

                    <div *ngFor="let card of UserService.allSchedule">
                        <div class="published-item" >
                            <a >
    
                                <img src="{{getImagePath(card.imageName)}}" alt="Employer" (click)="showProfile(card.userId)">

                                <h3 (click)="ViewDetailes()"><span (click)="showProject(card.projectId)"> {{card.projectTitle}}</span>
                                    <!-- <i class="material-icons" style=" float: right;  margin: 5px;" >cancel</i> -->
                                    <i class="material-icons " style=" float: right; margin: 5px;" (click)="openDialog(card.scheduleId,card.link,card.date.substring(0,10),card.startTime.substring(11,16),card.endTime.substring(11,16))"  >edit</i>
                                </h3>
                                <ul (click)="ViewDetailes()">
                                    <li><i class="material-icons" (click)="showProfile(card.userId)">person</i> {{card.fName}} {{card.lName}}</li>
                                </ul>
                                <ul >
                                   
                                    <li  class="schedule" style="color: #fff;" (click)="accept(card.idJobOffer)" ><i class="material-icons">check</i>
                                        Accept hire</li>
                                </ul>
                                

                                <p  ><i class="material-icons">date_range</i>
                                    <span>Date: {{card.date | getDateFormate}} </span>
                                    <span style="margin-left: 30px;"> 
                                        <i class="material-icons">access_time</i>
                                        Time: {{card.startTime |getDateFormate}} to {{card.endTime |getDateFormate}}</span> 
                                </p>
                                <p  ><i class="material-icons">link</i>
                                    Link: {{card.link}}</p>


                            </a>
                        </div>
                    </div>

              
            </div>

            <div class="col-lg-4 col-md-12"> 
                <div class="job-list-right">
                        <div class="job-list-all" style="background-color: #fff;">
                            <div class="search">
                                <h3>Search Schedule</h3>
                                <label id="example-radio-group-label">Project Title </label>
                                    <input type="text" class="form-control mt-2"  [formControl]="title" placeholder="Project title ">
                            </div>
                            <div class="search">
                                <label id="example-radio-group-label">User name </label>
                                    <input type="text" class="form-control mt-2"  [formControl]="name" placeholder="User name">
                            </div>
                            <div class="search">
                                <label id="example-radio-group-label">Date </label>
                                    <input type="date" class="form-control mt-2"  [formControl]="dateSend" placeholder="Project title ">
                            </div>
                            
 
                            <div class="level">
                                <button type="submit" (click)="search()" class="btn">Filter Now</button>
                            </div>
                        </div>
                    
                </div>  
            </div> 
        </div>
    </div>
</div>
<!-- End Jobs -->
<app-user-footer></app-user-footer>
<!-- Footer -->
<!-- <app-footer></app-footer> -->
<!-- End Footer -->