
textarea{
    
    border-radius: .5rem;
    border-color: #89888a47;
}

textarea:hover{
    
    border-radius: .5rem;
    border-color: #020202;
}



.form-button {
  background-color:#673ab7;
  color: #ffffff;
  border: none;
  border-radius: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  
 
}
.form-button:hover,
.form-button:focus,
.form-button:active,
.form-button.active,
.form-button:active:focus,
.form-button:active:hover,
.form-button.active:hover,
.form-button.active:focus {
  background-color:#3e236e ;
    
    border: none;
    border-radius: 1.5rem;
   
   
    font-weight: 600;
   
}
  .example-section {
    margin: 12px 0;
  }

  h4 {
    font-size: 20px;
    font-weight: bold;
    color: #221668;
    transition: 0.5s all ease;
}
.h4{
  font-size: 20px;
    font-weight: bold;
    color: #221668;
    transition: 0.5s all ease;
    margin-left: 100px;

}
.li {
  font-weight: bold;
  font-size: 15px;
  color: #a4a0b9;
  transition: 0.5s all ease;
  margin-left: 100px;
}

 